@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  :root {
    --color-lt-red: #EF4444;
    --color-lt-blue: #2563EB;
    --color-lt-yellow: #EAB308;
  }
}
